{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
 <html>
 <head>
     <meta charset='utf-8'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>TESTLIST</title>
     <link rel = "stylesheet" href="{% static 'css/bootstrap.min.css'%}">


          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
              <a class="navbar-brand" href="/blog/">Test</a>
              <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
                  <ul class="navbar-nav">

          <li class="nav-item ">
                <li><a class="nav-link" href="/blog/">취업계시판</a></li>
                <li><a class="nav-link" href="#">교육정보</a></li>
                <li><a class="nav-link" href="#">대외활동</a></li>
            </li>

          </ul>
        </div>
      </nav>

    </header>
     <link rel="stylesheet" href="{% static 'css/app.css' %}">
     <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">

    <head>
        <title>Blog List</title>
    </head>
    <body>

      <main role="main">

        <section class="jumbotron text-center">
          <div class="container">
            {% block content %}
             {% endblock %}

            <p class="lead text-muted">  </p>


          </div>
        </section>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
