{%extends "main/base.html"%}
{% load static %}
{% block content %}
<!-- <style>
   th,  {
    border: 1px solid #bcbcbc;
  }

  th {
    width: -500px;
    height: 50px;
  }
</style> -->

<!-- <form class="form-inline" action="{% url 'main:blog' %}" method="get">
    <div class="input-group">
        <select name="postname" id="" class="form-control">
            <option value="postname">title</option>
            <option value="content">content</option>
        </select>
        <input type="text" class="form-control" name='q'>
        <button class="btn btn-secondary" type="submit">Search</button>
    </div>
</form> -->
<!-- <div class="row justify-content-end my-3">
      <div class="col-4 input-group">
          <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
          </div>
      </div>

  </div> -->


  {% csrf_token %}
   <style>

    input[type="checkbox"] {
        display: none;
    }
    label {
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        border: solid 1px #ccc;
        transition: 0.25s;
        padding: 6px 18px;
        cursor: pointer;
        font-size: 14px;
        margin: 3px;
      }
      input[type="checkbox"]:checked + label {
       background: #00809d;
       color: #fff;
     }
</style>
<form class="form-inline my-2 my-lg-0" action="{% url 'main:search' %}" method="post">
   {% csrf_token %}
<ul id="id_tags">

  <input type="checkbox" name="tags" value="IT" id="id_tags_0">
  <label for="id_tags_0">IT( {{jop_count}} ) </label>


  <input type="checkbox" name="tags" value="숙박" id="id_tags_1">
  <label for="id_tags_1">숙박</label>

  <input type="checkbox" name="tags" value="현장" id="id_tags_2">
  <label for="id_tags_2">현장</label>

</ul>

      <!-- <div class = "jop">
            <p>jop</p>2
            <label><input type="checkbox" name="jop" value="IT"> IT</label>
            <label><input type="checkbox" name="jop" value="숙박"> 숙박</label>
            <label><input type="checkbox" name="jop" value="현장">현장</label>
          </div> -->



  <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search" name="kw" value="{{kw}}" >
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

  </form>
        <div class="row mt-5">
          <div class="col-12">
            <table class="table" width = "400">


                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>



              <tbody>
                {% for post in postlist %}
                <tr class="text-left">

                  <th scope="row">
                      <a href="/blog/{{ post.id }}">
                    <th width = "100">
                          {% if post.rogophoto %}
                        <img src = "{{ post.rogophoto.url }}" alt="" height ="140" width="140">
                        {% endif %}
                    </th>
                  <th width = "-100">
                    <a href="/blog/{{ post.id }}">
                    <span>{{ post.num }}</span>
                    <span>{{ post.postname|truncatechars:30}}</span>
                    <br>
                    <span>{{ post.author }}</span>
                    <br>
                    <span>{{ post.jop }}</span>
                    <br>
                    <span>{{ post.write }}</span>
                    <br>
                    <span>{{ post.created_date | date:"Y-m-d h:i" }}</span>
                  </th>
                </th>
              </tr>
              {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-2">

          <button><a href="new_post/">글쓰기</a></button>
    <div class="col-12">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if postlist.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?p={{ postlist.previous_page_number }}"
              >Previous</a
            >
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
          </li>
          {% endif %}
       <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="?p=1">1</a></li>
        <li class="page-item"><a class="page-link" href="?p=2">2</a></li>
        <li class="page-item"><a class="page-link" href="?p=3">3</a></li>
      </ul>
          </li>
          {% if postlist.has_next %}
          <li class="page-item">
            <a class="page-link" href="?p={{ postlist.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>


          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

{% endblock %}
