{% extends "main/base.html" %}
{% load static %}
    {% block content %}
        <div class="row mt-5">
          <div class="col-12">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">제목</th>
                  <th scope="col">아이디</th>
                  <th scope="col">작성일</th>
                </tr>
              </thead>

              <tbody>
                {% for post in postlist %}

                <tr class="text-center">
                  <th scope="row">
                    <span>{{ post.num }}</span>
                  </th>
                  <td>
                    <a href="/blog/{{ post.id }}">
                      <span>{{ post.postname }}</span>
                    </a>
                  </td>
                  <td>
                    <span>{{ post.author }}</span>
                  </td>
                  <td>
                    <span>{{ post.created_date | date:"Y-m-d h:i" }}</span>
                  </td>
                </tr>
                <!-- <tr>
                <a herf="{% url 'main:posting' post.pk %}">
                      <td>{{post.id}}</td>
                      <td>{{post.author}}</td>
                      <td>{{post.postname}}</td>
                      <td>{{post.created_date}}</td>
</a>
</tr>
              </tr> -->
              {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
       {% endblock %}


            <!-- 게시글 클릭시 세부페이지로 넘어갑니다-->
            <!-- <ul>
              <a href="{{list.pk}}/">
                <li>{{list.id}}</li>      {{list.author}}       {{list.postname}}     {{list.created_date}}
                </a>
              </li>

            </ul> -->

        <!-- <button><a href="new_post/">글쓰기</a></button> -->

    </body>
</html>
