{% extends "main/base.html" %}
{% load static %}
<html>
    <head>
        <title>Posting!</title>
    </head>
    <body>
      {% block content %}

        <h1>게시글</h1>
        <p>{{post.postname}}</p>
        <p>{{post.contents}}</p>
        <!-- 이미지 보여주기 -->
        {% if post.mainphoto %}
            <img src = "{{ post.mainphoto.url }}" alt="" height="600">
            <br>
        {% endif %}
        <a href="/blog/">목록</a>
        <a href="/blog/{{post.pk}}/remove">삭제</a>
  {% endblock %}
    </body>
</html>
