input[type=text], input[type=email], input[type=number],
select, textarea {
    font-size: 14px;
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 1px #ccc;
    background-color: #fff;
    font-family: "Ubuntu", "Noto Sans JP", sans-serif;
}

button, a.button {
    font-size: 14px;
    -webkit-appearance: none;
    padding: 4px 16px;
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #ccc;
    vertical-align: bottom;
    font-family: "Ubuntu", "Noto Sans JP", sans-serif;


    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #333;


    cursor: pointer;
}

button:hover, a.button:hover {
    opacity: 0.5;
}

button.btn-link, a.btn-link {
    border: none;
    color: #00809d;
    vertical-align: initial;
}
